body{
	width: 96%;
	background-color: #202020;
	color: white;
	margin: 2vh 2vw;
	font-family: 'VT323', monospace;
	font-size: 3vh;
}

a, a:active, a:visited {
	color: gray;
}

a:hover {
	color: darkgray;
}

#bastard{
	font-style: comic-sans;
}

#bas-img{
	float: right;
	width: 30vw;
}

#greeting{
	font-size: 7vh;
	margin: unset;
	text-align: center;
	width: 100%;
}

#title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#mode{
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.tg{
	border-collapse: collapse;
	border-spacing: 0;
}

#wide-table{
	width: 100%;
}

#narrow-table{
	display: none;
}

.projects th, td{
	width: 16%;
	/*overflow: hidden;*/
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
	vertical-align: top;
	align-items: center;
}

.projects th{
	font-size: 4vh;
	margin-top: 1vh;
}

.projpic{
	vertical-align: middle;
	display: inline;
	width: 14vw;
	min-width: 150px;
	height: 16vh;
	overflow: hidden;
	object-fit: cover;
}

.narrow-projpic{
	width: 100%;
}
@media screen and (max-width: 1000px) {
	#wide-table{
		display: none;
	}

	#narrow-table{
		display: inherit;
		width: 100%;
	}
}
